<!doctype html>
<html>
    <head>
    {% if title %}
        <title>{{ title }} - RestSlurm</title>
    {% else %}
        <title>RestSlurm</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css')}}">
    </head>
    <body>
        <div id="topbar">
            <p><img src={{ url_for('static', filename = 'images/topbar1.png') }}></img><h2>Cluster Scheduler Web Portal</h2></p></div>
        <div id="menubar">
            <ul>
            <li><a href="index">Home</a></li>
            <li><a href="racks">Racks</a></li>
            <li><a href="nodes">Nodes</a></li>
            <li><a href="connectivity">Connections</a></li>
            </ul>
        </div>
    </body>
</html>
